FindNumberInFiles/WebContent/WEB-INF/FindNumberInFiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FindNumberInFiles" elementFormDefault="qualified">
  <element name="ServiceRequest">
    <complexType>
      <sequence>
        <element name="number" type="int" maxOccurs="1" minOccurs="1"/>
      </sequence>
    </complexType>
  </element>
  <element name="ServiceResponse">
    <complexType>
      <sequence>
        <element name="reply" type="string" maxOccurs="1" minOccurs="1"/>
      </sequence>
    </complexType>
  </element>
</schema>